body {
    padding: 25px;
    background-color: white;
    color: rgb(36, 35, 35);
}

.dark-mode {
    background-color: rgb(29, 28, 28);
    color: white;
}

/* centered columns styles */
.row-centered {
    text-align:center;
    align-content:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    align-content:center;
}

.paragraph {
  font-family: "Open Sans";
}

.heading {
  font-family: "Cormorant Garamond";
}

        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            padding: 20px;
            height: 550px;
        }

        .left {
            width: 50%;
        }

        .right {
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    footer {
        text-align: center;
        padding: 3px;
        background-color: #555555;
        color:  #E5E4E2;
    }